.company-Page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  padding: 20px;
}

.company-box {
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.input-container {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-style: italic;
  font-size: 14px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: gray;
}

.company-box label {
  font-size: 18px;
  color: #444;
}

.company-box button {
  background-color: #4caf50;
  color: white;
  margin-top: 25px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 1px 2px 2px black;
  width: 30%;
}

.company-box button:hover {
  background-color: #45a049;
}

.verified {
  color: green;
  margin-top: 20px;
  font-weight: bold;
}

.not-verified {
  color: red;
  margin-top: 20px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .company-box {
    padding: 25px 20px;
  }

  .company-box label {
    font-size: 16px;
  }

  .input-container input,
  .company-box button {
    font-size: 16px;
  }
}
